body {
  background-color: black;
  text-align: center;

}

.masterhead-avatar {
  width: 15rem;
}
.section-container {
  /* height: 100vh; */
}

#intro {
    padding: 3% 15% 7%;
    height: 100vh;
}

#About {
    padding: 2% 5% 5%;
}
#footer {
  height: 5vh;
}

.border-1 {
  border:solid;
  border-radius: 30px;

}
