body {
  background-color: #454d66;
  font-size: 150%;
}
h1 {
  color: #4592af;
  font-size: 100px;
}

img {
  background-color: none;
}

.Cheeseburger {
  background-color: blue;
  height: 300;
  width: 300;
}

.bacon {
  background-color: red;
  height: 300;
  width: 300;
}
