body {
  background-color: #1b2552 !important;

}
img {
  object-fit: scale-down !important;
  height: 75vh;
}
.bg-jumbo {
  background-color: transparent !important;
  font-color: #FF0000 !important;
  font-family: 'Pacifico', cursive;
}

.responsive {
  width: 100%;
  height: auto;
}

.fill {
    min-height: 100% !important;
    height: 100% !important;
}

.box {
  /* max-width: 100vh; */
  height: 50vh;
  /* display: inline-block; */
}

.cap{
  font-size: 2rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
